html, body{
	overflow-y: visible;
}
.editor{
	padding-bottom : 30px;
}
.editor .form-group{
	padding-bottom: 30px;
}
.form-group p.text-danger{
	position: absolute;
	padding: 5px;
}
.controls .navbar-header{
	width: 97%;
}
.controls .dayHour{
	margin-left: 10px;
}
.controls .dayHour input{
	width: 70px;
	text-align: center;
}
.column{
	width: 150px;
	margin-left: 15px;
	float: left;
}
.workView .column{
	width: 215px;
}
.panel-body{
	padding:0
}
.list-group{
	margin-bottom: 0;
}
.list-group-item .remove{
    bottom: 2px;
    position: absolute;
    right: 2px;
	display: none;
}
.list-group-item.active .remove{
	display: block;
}

/* Settings CSS */
.settings .row{
    padding-bottom: 20px;
}
#dayHours{
	width: 70px;
}

/*Twitter typeahead plugin styles*/
.twitter-typeahead{
	width: 100%;
}
.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
	width: 422px;
	margin-top: 4px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}
.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #337ab7;

}
.tt-suggestion p {
	margin: 0;
}