<!DOCTYPE html>
<html>
<head>
	<title>LogIt</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link href="css/bootstrap.sandstone.min.css" rel="stylesheet" >
	<link href="css/datepicker3.css" rel="stylesheet" >
	<link href="css/qLog.css" rel="stylesheet" >
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">LogIt</a>
				<p class="navbar-text">Work Log Quick</p>
			</div>
		</div>
    </nav>

	<div class="container">
		<div class="row editor">
			<form id="editForm" role="form">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="sr-only" for="task">Task</label>
						<input type="text" class="form-control" id="task" placeholder="Task" autofocus="" required="">
						<p class="text-danger task"></p>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="sr-only" for="log">Log</label>
						<input type="text" class="form-control" id="log" placeholder="Time (45m, 1h, .5d)" required="" >
						<p class="text-danger log"></p>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label class="sr-only" for="date">Date</label>
						<input type="text" class="form-control datePicker" id="date" placeholder="Date (today default)">
						<p class="text-danger date"></p>
					</div>
				</div>
				<div class="col-xs-1">
					<button type="submit" class="btn btn-primary" id="addLog">Log</button>
				</div>
			</form>
		</div>

		<nav class="navbar navbar-default controls" >
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="btn btn-default navbar-btn navbar-left prev" id="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</button>
					<h3 class="navbar-text weekHeading"></h3>
					<button type="button" class="btn btn-default navbar-btn navbar-left next" id="prev">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#settings">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
<!--					<form class="navbar-form navbar-right" role="search">
						<label class="radio-inline"><input type="radio" name="weekView" id="workWeek" value="5">Work Week</label>
						<label class="radio-inline"><input type="radio" name="weekView" id="fullWeek" value="7">Full Week</label>
					</form>
-->					
				</div>
			</div>
		</nav>		
		
		<div class="row weekView">
			<div class="summary" id="results"></div>
		</div>
	</div>
<!--		
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<p class="navbar-text">* 1 Day = <a href="#" id="editDayHour">8 Hours</a></p>
		<form class="navbar-form hide" role="search" id="dayHourForm">
				<label for="dayHour">1 day = </label>
				<input type="text" class="form-control" id="dayHour" max="24" min="1" >
				<label> Hours</label>
		</form>
	</nav>
-->	
	<div class="modal settings" id="settings" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Settings</h4>
				</div>
				<div class="modal-body">
					<div>
						<form id="settingsForm" class="form-inline">
							<div class="row">
								<div class="col-xs-5">
									<label>Week View</label>
								</div>
								<div class="col-xs-7">
									<div class="radio">
										<label><input type="radio" name="weekView" value="5">Work Week</label>
									</div>
									<div class="radio">
										<label><input type="radio" name="weekView" value="7">Full Week</label>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-xs-5">
									<label>Day Hours</label>
								</div>
								<div class="col-xs-7">
									<div class="form-group">
										<input type="number" class="form-control dayHours" min="1" max="24" name="dayHours" id="dayHours"><span>&nbsp;Hours</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary save">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>

<script type="text/template" id="day-template">
	<div class="panel-heading">
		<h2 class="panel-title"><%= dateString %></h2>
		<span><%= totalHrs %></span>
	</div>
	<div class="panel-body">
		<div class="list-group"></div>
	</div>
</script>


<script type="text/template" id="item-template">
	<h4 class="list-group-item-heading"><%= task %></h4>
	<p class="list-group-item-text"><%= time %></p>
	<button type="button" class="btn btn-default btn-xs pull-right remove">
		<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
</script>
 
<script src="lib/dateJs.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/bootstrap-datepicker.js"></script>
<script src="lib/typeahead.js"></script>
<script src="utils/datastore-indexdb.js"></script>
<script src="utils/settings.js"></script>
<script src="model/model.js"></script>
<script src="view/EditView.js"></script>
<script src="view/SummaryView.js"></script>
<script src="view/DayView.js"></script>
<script src="view/TaskView.js"></script>
<script src="view/SettingsView.js"></script>
<script src="app.js"></script>

</html>